extends layout

block content
    .container.py-5
      .row
        .col-md-12
          h2.text-center.text-white.mb-4
          .row
            .col-md-6.mx-auto
              .card
                .card
                  .text-center.i.far.fa-user.fa-5x.bg-primary.ml-auto.mr-auto.mt-3.rounded-circle.p-4
                  h3.mb-0.text-center.pt-3 Please Sign Up
                  form(method='POST', action='/users/register')
                    .card-body
                      #form-label-group.m-3
                        input.form-control(name="name", type='text', placeholder="Name")
                        label
                        input.form-control(name="username", type='text', placeholder='Username')
                        label
                        input.form-control(name="password", type='password', placeholder='Password')
                        label
                        input.form-control(name="password2", type='password', placeholder='Confirm Password')
                        input.btn.btn-block.btn-primary.mt-3(type="submit", value="Submit")